<create a .env file folowing this example:>
ENVIRONMENT= <[prod|beta|tester|dev]>
BOT_TOKEN= <your bot token>
MY_ID= <your discord id>
DB_NAME= <your database name>
DB_URL= <your database URL>
DB_PORT= <your database port>
DB_USERNAME= <your database username>
DB_PASSWORD= <your database password>
PROD_PREFIX= <your bot prefix>
BETA_PREFIX= <your bot beta prefix>
DEV_PREFIX= <your bot dev/tester prefix>